.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    margin: 10px
}

.grid-box {
    display: flex;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

button {
    margin: 10px;
    border-radius: 5px;
    color: blue;
    font-family: 'Courier New', Courier, monospace
}